.navItem:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color:
    #c2ff1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}